<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Projetos</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
    <div th:replace="~{fragments :: navbar}"></div>
    <div th:replace="~{fragments :: mensagens}"></div>
    <header>
        <h1>Painel de Gestão de Projetos</h1>
        <p><a href="/projetos/novo">Submeter Novo Projeto</a></p>
    </header>

    <main>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome do Projeto</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="projeto : ${projetos}">
                    <td th:text="${projeto.id}">1</td>
                    <td th:text="${projeto.nome}">Nome do Projeto Teste</td>
                    <td th:text="${projeto.status}">AGUARDANDO_APROVACAO</td>
                    <td>
                        <div th:if="${projeto.status == T(TrabalhoFaculdade.A3.model.StatusProjeto).AGUARDANDO_APROVACAO}">
                            <form th:action="@{/projetos/{id}/aprovar(id=${projeto.id})}" method="post" style="display: inline;">
                                <button type="submit">Aprovar</button>
                            </form>
                            <form th:action="@{/projetos/{id}/rejeitar(id=${projeto.id})}" method="post" style="display: inline;">
                                <button type-="submit" class="secondary">Rejeitar</button>
                            </form>
                        </div>
                    </td>
                </tr>
                <tr th:if="${#lists.isEmpty(projetos)}">
                    <td colspan="4">Nenhum projeto cadastrado.</td>
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>